extends layout

block content
	h1 Todo
	ul
		for item in results
			li= item.description
	form(action="/index.html",method="POST")
		input(type="hidden",name="redirect",value="/index.html")
		input(type="text",name="description")
		input(type="submit",value="add")